#sorting-container .btn {
  display: flex;
  justify-content: center;
  margin: 10px; }
  #sorting-container .btn button {
    font-size: 1.2rem; }

#sorting-container .sorting-box {
  margin: 0 auto;
  width: 80vw;
  height: 72vh;
  border: 1px solid black;
  display: flex;
  transform: scaleY(-1); }
  #sorting-container .sorting-box div[class^="bar"] {
    border: 1px solid black;
    width: 2vw;
    background: crimson; }
